.Advertisements {
  //display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 15%;
  position: absolute;
  margin-top: 25%;

  .item {
    //width: 30rem;
    margin-bottom: 15px;
    opacity: 85%;
  }

  .item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .card-body {
    background: #ffffff;
    padding: 10px 20px 20px 100px;
  }
  .card-header{
    background-color: #3AAFA9;
  }

  .myButton{
    margin-bottom: 0;
  }

  .item-title {
    margin-bottom: 0;
    color: #ffffff;
  }

  .item-leftside {
    text-align: left;
  }

  .item-rightside {
    text-align: right;
  }

  .item-desc {
    display: block;
    color: black;
    //padding: 0 20px 0 90px;
    //text-align: center;
  }

  .item-details {
    margin-right: 5px;
    color: #0d3d3b;
  }

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  opacity: 100%;
}
.deck{
  width: 700px;
}
}
.page-item{
  list-style: none;
}

.buttons{
  position: absolute;
  margin-left: 45%;
  //margin-top: 60%;
}
@media (max-width: 1220px){
  .Advertisements{
    .item{
      width: 70%;
    }
  }
}
@media (max-width: 520px){
  .Advertisements{
    width: 100%;
    .deck{
      width: 100%;
    }
  }
}
