.MainPage{
    margin-top: 0;
.maintext{
    z-index: 1;
    position: absolute;
    margin-top: 0;
    background-image: url("../images/dog3.jpg");
    background-repeat: no-repeat;
    background-size:100% auto;
    width: 100%;
    height:43%;
    //min-height:404px ;
}

.welcome{
    margin-top: 10%;
    width: 60%;
}
.lea{
    width:60%;
}
}
.recents{
    margin-top: 22%;
    position: absolute;
    width: 100%;
    background-color: #3AAFA9;
    height: 40px;
    font-size: 20pt;
    color: white;
    clear: both;
    
    span{
        float: left;
        margin-left: 30%;
    }
}